form {
    margin-left: 1.2rem;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

.label-input {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
}

.label-input input {
    height: 1.5rem;
    width: 15rem;
    border: 1px solid lightgrey;
    outline: none;
}

.label-input input:focus {
    border: 2px solid #358DFF;
}

.label-input label {
    font-size: 0.8rem;
    color: #444A5A;
}

.red-asterisk {
    color: red;
}

.visible-prompt {
    display: block;
}

.required-field {
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    text-align: center;
    color: red;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.exclaim {
    transform: scale(0.7);
}

input.ng-invalid.ng-touched {
    border: 2px solid red !important;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.btn-cancel {
    font-size: 0.7rem;
    background-color: rgb(254, 195, 195);
    border: 1px rgb(254, 195, 195);
    border-radius: 0.5rem;
    color: rgb(244, 72, 72);
    margin-left: 0.9rem;
    height: 2rem;
    width: 6rem;
}
.btn-change-password-inactive {
    font-size: 0.7rem;
    background-color: rgb(248, 145, 145);
    border: 1px rgb(248, 145, 145);
    border-radius: 0.5rem;
    color: white;
    height: 2rem;
    width: 7rem;
    margin-left: 0.2rem;
}

.btn-change-password-active {
    font-size: 0.7rem;
    background-color: rgb(244, 72, 72);
    border: 1px rgb(244, 72, 72);
    border-radius: 0.5rem;
    color: white;
    height: 2rem;
    width: 7rem;
    margin-left: 0.2rem;
}
