<form class="change-password-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <h1>Change Password</h1>
    <div class="label-input">
        <label for="inputUsername">Enter Username<span class="red-asterisk">*</span></label>
        <input type="text" id="inputUsername" class="inpt-box" formControlName="username" placeholder="Text">
        <div *ngIf="changePasswordForm.get('username')?.invalid && changePasswordForm.get('username')?.touched"
            class="visible-prompt">
            <p class="required-field"><span class="material-symbols-outlined exclaim">emergency_home</span>this field
                is required</p>
        </div>
    </div>
    <div class="label-input">
        <label for="inputOldPassword">Enter Old Password<span class="red-asterisk">*</span></label>
        <input type="password" id="inputOldPassword" class="inpt-box" formControlName="oldPassword" placeholder="Text">
        <div *ngIf="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched"
            class="visible-prompt">
            <p class="required-field"><span class="material-symbols-outlined exclaim">emergency_home</span>this field
                is required</p>
        </div>
    </div>
    <div class="label-input">
        <label for="inputNewPassword">Enter New Password<span class="red-asterisk">*</span></label>
        <input type="password" id="inputNewPassword" class="inpt-box" formControlName="newPassword" placeholder="Text">
        <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched"
            class="visible-prompt">
            <p class="required-field"><span class="material-symbols-outlined exclaim">emergency_home</span>this field
                is required</p>
        </div>
    </div>
    <div class="form-buttons">
        <button routerLink="/auth/employee" class="btn-cancel">Cancel</button>
        <button type="submit" [ngClass]="{'btn-change-password-active': changePasswordForm.valid, 'btn-change-password-inactive': changePasswordForm.invalid}"
        [disabled]="changePasswordForm.invalid">Change Password</button>
    </div>
</form>