<div class="alphabet">
    <div>
        <span class="icon-filter"></span>
    </div>
    <button #btnA class="{{classMap.get('A')}}" (click)="alphabetFilter($event)">A</button>
    <button #btnB class="{{classMap.get('B')}}" (click)="alphabetFilter($event)">B</button>
    <button #btnC class="{{classMap.get('C')}}" (click)="alphabetFilter($event)">C</button>
    <button #btnD class="{{classMap.get('D')}}" (click)="alphabetFilter($event)">D</button>
    <button #btnE class="{{classMap.get('E')}}" (click)="alphabetFilter($event)">E</button>
    <button #btnF class="{{classMap.get('F')}}" (click)="alphabetFilter($event)">F</button>
    <button #btnG class="{{classMap.get('G')}}" (click)="alphabetFilter($event)">G</button>
    <button #btnH class="{{classMap.get('H')}}" (click)="alphabetFilter($event)">H</button>
    <button #btnI class="{{classMap.get('I')}}" (click)="alphabetFilter($event)">I</button>
    <button #btnJ class="{{classMap.get('J')}}" (click)="alphabetFilter($event)">J</button>
    <button #btnK class="{{classMap.get('K')}}" (click)="alphabetFilter($event)">K</button>
    <button #btnL class="{{classMap.get('L')}}" (click)="alphabetFilter($event)">L</button>
    <button #btnM class="{{classMap.get('M')}}" (click)="alphabetFilter($event)">M</button>
    <button #btnN class="{{classMap.get('N')}}" (click)="alphabetFilter($event)">N</button>
    <button #btnO class="{{classMap.get('O')}}" (click)="alphabetFilter($event)">O</button>
    <button #btnP class="{{classMap.get('P')}}" (click)="alphabetFilter($event)">P</button>
    <button #btnQ class="{{classMap.get('Q')}}" (click)="alphabetFilter($event)">Q</button>
    <button #btnR class="{{classMap.get('R')}}" (click)="alphabetFilter($event)">R</button>
    <button #btnS class="{{classMap.get('S')}}" (click)="alphabetFilter($event)">S</button>
    <button #btnT class="{{classMap.get('T')}}" (click)="alphabetFilter($event)">T</button>
    <button #btnU class="{{classMap.get('U')}}" (click)="alphabetFilter($event)">U</button>
    <button #btnV class="{{classMap.get('V')}}" (click)="alphabetFilter($event)">V</button>
    <button #btnW class="{{classMap.get('W')}}" (click)="alphabetFilter($event)">W</button>
    <button #btnX class="{{classMap.get('X')}}" (click)="alphabetFilter($event)">X</button>
    <button #btnY class="{{classMap.get('Y')}}" (click)="alphabetFilter($event)">Y</button>
    <button #btnZ class="{{classMap.get('Z')}}" (click)="alphabetFilter($event)">Z</button>
</div>